.PageLayout {
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  z-index: -999999;
  filter: brightness(70%);
  -webkit-filter: brightness(70%);
  position: absolute;
  width: 100%;
  height: 100%;
}

body {
  margin: initial;
}

/* ──────────────────────────────────────────────

HOME PAGE

──────────────────────────────────────────────*/

.HomePage-title {
  position: absolute;
  left: 50%;
  top: 55%;
  width: 300px;
  height: 200px;
  margin-left: -150px;
  margin-top: -100px;
}

.HomePage-subTitle {
  text-align: center;
  color: #fff;
  font-family: "Advent Pro", sans-serif;
  font-size: 1.5em;
  font-weight: bolder;
  margin-top: 0.5rem;
}

/* ──────────────────────────────────────────────

MOBILE MENU

──────────────────────────────────────────────*/
.HeaderLayout-menuContent {
  text-align: center;
}

.HeaderLayout-menuContent ul {
  padding-left: initial;
}

.HeaderLayout-menuContent li {
  padding-bottom: 0.6em;
  list-style-type: none;
  color: #fff;
  font-size: 2em;
  font-family: "Advent Pro", sans-serif;
}

.HeaderLayout-menuContent a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}
.HeaderLayout-menuContent a:hover {
  color: #55769a;
  text-decoration: none;
  font-weight: bolder;
}

.MenuContent:hover {
  color: dodgerblue;
}

.HeaderLayout-logo span {
  border: #fff solid 3px;
  border-radius: 100%;
  font-size: 2.5em;
  color: #fff;
  padding: 0.25em;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.HeaderLayout-logo {
  padding-top: 2.5em;
  margin-left: 1em;
  padding-bottom: 2.5em;
}
/* ──────────────────────────────────────────────

TITLE COMPONENT

──────────────────────────────────────────────*/

.TitleLayout {
  text-align: center;
}
.TitleLayout-title {
  text-align: center;
  border: #fff solid 5px;
  color: #fff;
  padding: 0.25em;
  font-size: 2em;
  font-family: "Advent Pro", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

/* ──────────────────────────────────────────────

REACT BURGER MENU OPTIONS

──────────────────────────────────────────────*/
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}
.bm-overlay {
  transition: initial !important;
  background: initial !important;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #fff;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: rgba(0, 0, 0, 0.6);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
  height: initial !important;
}

/* Individual item */
.bm-item {
  display: inline-block;
}
